.addButton {
	margin: 20px 0;
}

.image-upload-preview img {
	max-height: 100px;
}

.gerechtImg {
	max-width: 300px;
	max-height: 100px;
}




.starRating span::before {
	content: "\f006";
	padding-right: 5px;
	color: #777777;
}

.starRating span {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	display: inline-block;
}


.starRating span.chosen::before {
	content: "\f005";
	color: #d3bf6a;
	padding-right: 5px;
}

.starRating span.hoverChosen::before {
	content: "\f005";
	color: #e3cf7a;
	padding-right: 5px;
}
